<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% block head %}
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--Arquivos CSS-->
    <link rel='stylesheet' href="../static/estilos.css"/>
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/sobre.css">
    <link rel="stylesheet" href="../static/css/projetos.css">
    <link rel="stylesheet" href="../static/css/Hobby_tela.css">
    <link rel="stylesheet" href="../static/css/futebol.css">
    <link rel="stylesheet" href="../static/css/games.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lancelot&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Pagina Inicial</title>
    {% endblock %}
    
</head>


<body>
{% block nav %}
<header>
    <!--NAVBAR-->
    
    <div class="flex-container" id="cabecalho">
        <a href="/"><img src="../static/img/LOGOVERDE.png" class="meulogo" alt=""></a>               
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/sobre">SOBRE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/projetos_tela">PROJETOS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Hobby_tela">HOBBY</a>
            </li>
        </ul>
    </div>
</header>       
{% endblock %}

<!--CONTEUDO-->
{% block contents %}
{% endblock contents %}


{% block rodape %}

<!--RODAPÉ-->
<div class="content">
</div>
<footer id="myFooter">
    <div class="container">
        <p class="footer-copyright" >Desenvolvido por Raniel Santos. Todos os Direitos Reservados.</p>
    </div>
    <div class="footer-social" >
        <a href="https://web.facebook.com/raniel.santos.522/" class="social-icons"><i class="fa fa-facebook"></i></a>
        <a href="https://www.youtube.com/channel/UCKPh8JpW2g6Mq6huV076_dQ" class="social-icons"><i class="fa fa-youtube"></i></a>
        <a href="https://twitter.com/Raninho_93" class="social-icons"><i class="fa fa-twitter"></i></a>
    </div>
</footer>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{%endblock rodape %}
</body>
</html>