<!--<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/futebol.css">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lancelot&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>futebol</title>
    </head>


    <body>       

      
        <header>
           

            <div class="flex-container" id="cabecalho">
                <a href="../templates/index.html"><img src="../static/img/LOGOVERDE.png" class="meulogo" alt=""></a>                
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="../templates/sobre.html">SOBRE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../templates/Projetos_tela.html">PROJETOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../templates/Hobby_tela.html">HOBBY</a>
                    </li>
                </ul>
            </div>
        </header> -->           

        {% extends "base.html" %}
        {% block contents %}
        <!--conteudo-->    
        <div class="projeto">

            <p style="text-align: center; font-family: Lancelot, Arial;font-size: 24pt;"><b>FUTEBOL</b></p>
            Sou um fanático por futebol desde quando era pequeno. Cheguei a jogar nas categorias de base do São Caetano quando tinha meus 10-13 anos de idade.<br>
            Acompanho quase todas as ligas internacionais: Premier League, La Liga, Serie A, Ligue 1 e principlamente a UEFA Champions League.<br>
            Meu time de coração? Ah essa é fácil demais...pela cor do site já diz... <b>SEP - Sociedade Esportiva Palmeiras</b><br>
            <img src="../static/img/palmeiras.png" class="sif" alt="">
            <br>
            <br>
            <br>
            <br>
            Acesse o site oficial do Palmeiras aqui: <a href="https://www.palmeiras.com.br/pt-br/home/">Palmeiras</a>
            
        </div>
        {% endblock contents %}
         

        <!--Rodapé   
        <div class="content">
        </div>
        <footer id="myFooter">
            <div class="container">
                <p class="footer-copyright" >Desenvolvido por Raniel Santos. Todos os Direitos Reservados.</p>
            </div>
            <div class="footer-social" >
                <a href="https://web.facebook.com/raniel.santos.522/" class="social-icons"><i class="fa fa-facebook"></i></a>
                <a href="https://www.youtube.com/channel/UCKPh8JpW2g6Mq6huV076_dQ" class="social-icons"><i class="fa fa-youtube"></i></a>
                <a href="https://twitter.com/Raninho_93" class="social-icons"><i class="fa fa-twitter"></i></a>
            </div>
        </footer>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>-->