

        {% extends "base.html" %}
        {% block contents %}
        <!--conteudo-->    
        <div class="projeto">

            <p style="text-align: center; font-family: Lancelot, Arial;font-size: 24pt;"><b>FUTEBOL</b></p>
            Sou um fanático por futebol desde quando era pequeno. Cheguei a jogar nas categorias de base do São Caetano quando tinha meus 10-13 anos de idade.<br>
            Acompanho quase todas as ligas internacionais: Premier League, La Liga, Serie A, Ligue 1 e principlamente a UEFA Champions League.<br>
            Meu time de coração? Ah essa é fácil demais...pela cor do site já diz... <b>SEP - Sociedade Esportiva Palmeiras</b><br>
            <img src="../static/img/palmeiras.png" class="sif" alt="">
            <br>
            <br>
            <br>
            <br>
            Acesse o site oficial do Palmeiras aqui: <a href="https://www.palmeiras.com.br/pt-br/home/">Palmeiras</a>
            
        </div>
        {% endblock contents %}
         

