*{
    margin: 0px;
    padding: 0px;
}

a { 
    color: #041F17; 
    text-decoration: none;

} 

a:hover 
    {
    color:#00A0C6; 
    text-decoration: underline; 
    cursor:pointer;
}

/*background*/

    #fundo{    
        width:1440px;
        height:874px;
        background-image:url(images/image_10.png);
        background-repeat:no-repeat;
        background-size:cover;
    }

/*Cabeçalho*/

    .ret_cab{
        position: absolute;
        width: 1440px;
        height: 120px;
        left: 0px;
        top: 0px;
        border: 2px;
        
        background: #041F17;    
    }


    #logo{
        position: absolute;
        width: 201px;
        height: 84px;
        left: 49px;
        top: 18px;
        text-align: center;
        font-family: Inter, Arial, Helvetica, sans-serif;
        font-size: 16pt;

        background: #FFFFFF;
    }

/*Botões do Cabeçalho*/

    button:hover {
        background-color: rgb(126, 10, 19);
        color:white;
    }

    .bot_sobre{
        position: absolute;
        font-family: Lancelot, Arial, Helvetica, sans-serif;
        font-size: 16pt;
        color: #041F17;
        width: 148px;
        height: 47px;
        left: 719px;
        top: 31px;   

        border: 3px solid #FFFFFF;
        border-radius: 50px;
        box-sizing: border-box;
        background: #FFFFFF;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    }


    .bot_projetos{
        position: absolute;
        font-family: Lancelot, Arial, Helvetica, sans-serif;
        font-size: 16pt;
        color: #041F17;
        width: 148px;
        height: 47px;
        left: 967px;
        top: 31px;   

        border: 3px solid #FFFFFF;
        border-radius: 50px;
        box-sizing: border-box;
        background: #FFFFFF;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    }

    .bot_hobby{
        position: absolute;
        font-family: Lancelot, Arial, Helvetica, sans-serif;
        font-size: 16pt;
        color: #041F17;
        width: 148px;
        height: 47px;
        left: 1215px;
        top: 31px;   

        border: 3px solid #FFFFFF;
        border-radius: 50px;
        box-sizing: border-box;
        background: #FFFFFF;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    }

/*Conteudo*/

    #button_home{
        position: absolute;
        width: 65px;
        height: 68px;
        left: 1332px;
        top: 137px;
        
        background: url(image.png);       
    }


    .titulo{
        position: absolute;
        width: 586px;
        height: 73px;
        left: 426px;
        top: 137px;

        font-family: Lancelot, Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 53px;
        text-align: center;

        color: #041F17;

    }


/*Games*/

    #ret_hob{
        position: absolute;
        width: 350px;
        height: 551px;
        left: 201px;
        top: 264px;
        background: #C4C4C4;
    }

    #foto_hob{
        position: absolute;
        width: 291px;
        height: 217px;
        left: 230px;
        top: 291px;
        font-family: Lancelot;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 53px;
        text-align: center;
        
        background: #FFFFFF;
    }

    #games{
        position: absolute;
        width: 279px;
        height: 56px;
        left: 242px;
        top: 535px;
        
        font-family: Lancelot;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        text-decoration: underline;
    }

    #desc_games {
        position: absolute;
        width: 272px;
        height: 150px;
        left: 240px;
        top: 608px;
        
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        
    }
    





    /*Futebol*/

    #ret_fut{
        position: absolute;
        width: 350px;
        height: 551px;
        left: 867px;
        top: 264px;
        background: #C4C4C4;
    }

    #foto_fut{
        position: absolute;
        width: 291px;
        height: 217px;
        left: 896px;
        top: 291px;
        font-family: Lancelot;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 53px;
        text-align: center;
        
        background: #FFFFFF;
    }

    #futebol{
        position: absolute;
        width: 279px;
        height: 56px;
        left: 902px;
        top: 535px;
        
        font-family: Lancelot;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        text-decoration: underline;
    }

    #desc_fut{
        position: absolute;
        width: 272px;
        height: 150px;
        left: 905px;
        top: 608px;
        
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        
    }


   

        
/*Projeto Raninho*/


    #ret_raninho{
        position: absolute;
        width: 350px;
        height: 551px;
        left: 545px;
        top: 268px;
        
        background: #C4C4C4;        
    }

    #foto_raninho{
        position: absolute;
        width: 291px;
        height: 217px;
        left: 575px;
        top: 295px;
        font-family: Lancelot;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 53px;
        text-align: center;
        
        background: #FFFFFF;       
    }



    #raninho{
        position: absolute;
        width: 317px;
        height: 56px;
        left: 564px;
        top: 539px;

        font-family: Lancelot;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        text-decoration: underline;

    }

    #desc_raninho{
        position: absolute;
        width: 272px;
        height: 150px;
        left: 588px;
        top: 618px;

        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #041F17;

    }

/*Projeto Tutoriais*/

    #ret_tutoriais{
        position: absolute;
        width: 350px;
        height: 551px;
        left: 1013px;
        top: 268px;
        
        background: #C4C4C4;
    }

    #foto_tutoriais{
        position: absolute;
        width: 291px;
        height: 217px;
        left: 1042px;
        top: 295px;
        font-family: Lancelot;
        font-style: normal;
        font-weight: normal;
        font-size: 48px;
        line-height: 53px;
        text-align: center;
        
        background: #FFFFFF;
    }

    #tutoriais{
        position: absolute;
        width: 334px;
        height: 56px;
        left: 1022px;
        top: 539px;
        
        font-family: Lancelot;
        font-style: normal;
        font-weight: normal;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        text-decoration: underline;
    }

    #desc_tutoriais{
        position: absolute;
        width: 272px;
        height: 150px;
        left: 1052px;
        top: 618px;
        
        font-family: Inter;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #041F17;
    }





    

/*Rodapé*/

    .ret_rodape{
        position: absolute;
        width: 1440px;
        height: 150px;
        left: 0px;
        top: 874px;

        background: #041F17;
    }

    #youtube{
        position: absolute;
        width: 65px;
        height: 68px;
        left: 572px;
        top: 908px;

        background: url(image.png);
    }

    #telegram{
        position: absolute;
        width: 65px;
        height: 68px;
        left: 687px;
        top: 908px;

        background: url(image.png);        
    }

    #facebook{
        position: absolute;
        width: 65px;
        height: 68px;
        left: 802px;
        top: 908px;

        background: url(image.png);

    }

    span{
        position: absolute;
        width: 833px;
        height: 28px;
        left: 304px;
        top: 985px;

        font-family: Lancelot, Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 20px;
        text-align: center;

        color: #FFFFFF;

    }