/*GERAIS*/
*{
    margin: 0px;
    padding: 0px;
}

html{
  height: 100%;
}

body{
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  height: 100%;
  background-image: url(../img/background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.content{
 flex: 1 0 auto;
 -webkit-flex: 1 0 auto;
 min-height: 200px;
}

#myFooter{
 flex: 0 0 auto;
 -webkit-flex: 0 0 auto;
}

/*CABEÇALHO*/



.meulogo{
  max-width: 180px;
  max-height: 140px;  
  
}

#cabecalho {
    display: flex;
    justify-content:space-between;
    
    width: 100%;
    height: 15vh;
    border: 2px;

    background: #041F17;
  }

.nav-link{
    font-family: Lancelot, Arial, Helvetica, sans-serif;
    font-size: 20pt; 
    color: white; margin-top: 5vh;
  } 

/*CONTEUDO*/

.projeto{
    text-align: center;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
}

.sif{
    border-color: lightseagreen;
    margin-top: 25px;

}


/*RODAPÉ*/


.item{
    display:flex;
    justify-content:inline-flex
}

#myFooter{
  padding-top:32px;
}

#myFooter .container{
  text-align: center;
}

#myFooter .footer-copyright{
  margin-bottom: 35px;
  text-align: center;
  color: #777;
}

#myFooter ul{
  list-style-type: none;
  padding: 0;
  margin-bottom: 18px;
}

#myFooter a{
  color: #282b2d;
  font-size: 18px;
}

#myFooter li{
  display: inline-block;
  margin: 0px 15px;
  line-height: 2;
}

#myFooter .footer-social{
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color:#041F17;
  
}

#myFooter .fa{
  font-size: 36px;
  margin-right: 15px;
  margin-left: 20px;
  background-color: white;
  color: #d0d0d0;
  border-radius: 51%;
  padding: 10px;
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 43px;
  text-decoration: none;
  transition:color 0.2s;
}

#myFooter .fa-facebook:hover{
 color: #2b55ff;
}
#myFooter .fa-facebook:focus{
  color: #2b55ff; 
}
#myFooter .fa-instagram:focus{
  color:purple;
}
#myFooter .fa-youtube:hover{
  color:red;
}
#myFooter .fa-youtube:focus{
  color:red;
}
#myFooter .fa-twitter:hover{
  color: #00aced;

}
#myFooter .fa-twitter:focus{
  color:#00aced;
}




/*SMARTPHONE*/

@media (max-width:500px) {
  
    .projeto{
        margin-top: 30px;
        text-align: center;
        width: 100%;     
        
        font-family: Arial, Helvetica, sans-serif;
        font-size: 8pt;
    }
    
    .sif{
        width: 35%;
        border-color: lightseagreen;
        margin-top: 25px;
    
    }
    


    .meulogo{
      max-width: 45px;
      max-height: 35px;  
      margin-top: 2px;
    }


#cabecalho {
  display: flex;
  justify-content:center;
    
  width: 100%;
  height: 6vh;
  border: 2px;

  background:#041F17;
}

.nav-link{
  font-family: Lancelot, Arial, Helvetica, sans-serif;
  font-size: 16pt; 
  color:white; 
  margin-top: 0.5vh;

} 

#meio{
  text-align: center;
  margin-top: 45%;
  font-family: Lancelot, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
   
  
  color: #041F17;
  
}
/*RODAPE*/

#myFooter .footer-copyright{
  margin-bottom: 35px;
  text-align: center;  
  font-family: Lancelot, Arial, Helvetica, sans-serif;
  font-size: 12pt
}

#myFooter .footer-social{
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color:white;
}

}