<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/hobbies.css">
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lancelot&display=swap" rel="stylesheet">

        <title>Hobbies</title>
    </head>

    <body>

        <img id="fundo" src="../static/img/background.png" alt="fundo">

        <!--Cabeçalho-->
        <header>
            <div class="ret_cab">
                <div id="logo">LOGO</div>
                <a href="../templates/sobre.html"><button class="bot_sobre"> <b> SOBRE </b></button></a>
                <a href="../templates/Projetos_tela.html"><button class="bot_projetos"> <b> PROJETOS</b> </button></a>
                <a href="../templates/Hobby_tela.html"><button class="bot_hobby"><b> HOBBIES </b></button></a>
            </div>        
        </header>

        <!--Corpo-->
            <a href="../templates/index.html"><button><img id="button_home" src="../static/img/icone_home.png" alt="botao_home"></button></a>
            <div class="titulo"><b>HOBBIES</b></div>

            <!--GAMES-->
            <div id="ret_hob"></div>
            <div id="foto_hob"> foto do projeto</div>
            <a href="Games.html"><div id="games">GAMES</div></a>
            <div id="desc_games">Aqui vai uma breve descrição do projeto.</div>       
            
                
            <!--FUTEBOL-->
            <div id="ret_fut"></div>
            <div id="foto_fut"> foto do projeto</div>
            <a href="Futebol.html"><div id="futebol">FUTEBOL</div></a>
            <div id="desc_fut">Aqui vai uma breve descrição do projeto.</div>    
    

        <!--Rodapé-->
        <footer>
                <div class="ret_rodape"></div>
                <a href="https://www.youtube.com/channel/UCKPh8JpW2g6Mq6huV076_dQ"><img id="youtube" src="../static/img/logo_youtube.png" alt="logo YT"></a>
                <a href="https://t.me/Raninho93"><img id="telegram" src="../static/img/logo_telegram.png" alt="logo Telegram"></a>
                <a href="https://web.facebook.com/raniel.santos.522"><img id="facebook" src="../static/img/logo_facebook.png" alt="logo Facebook"></a>
                <span>Desenvolvido por Raniel Santos. Todos os direitos reservados.</span>
            
        </footer>

    </body>
</html>