<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/projetos.css">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lancelot&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Projetos</title>
    </head>


    <body>       

        <!--Cabeçalho-->
        <header>
            <!--NAVBAR DESKTOP-->

            <div class="flex-container" id="cabecalho">
                <a href="../templates/index.html"><img src="../static/img/LOGOVERDE.png" class="meulogo" alt=""></a>                
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="../templates/sobre.html">SOBRE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../templates/Projetos_tela.html">PROJETOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../templates/Hobby_tela.html">HOBBY</a>
                    </li>
                </ul>
            </div>
        </header>            


        <!--conteudo-->    
        <div class="projeto">

            <p style="text-align: center; font-family: Lancelot, Arial;font-size: 24pt;"><b>PROJETO API - Sistema de Informações Fatec</b></p>
            Atualmente, a FATEC São José dos Campos não possui um portal de informações, quer seja para docentes ou discentes, capaz de exibir de forma seletiva e controlada os avisos gerais ou específicos para seus cursos (ex. Divulgação de editais, cursos de extensão, etc.).<br>
            Portanto, é de interesse de toda a comunidade acadêmica o desenvolvimento de tal sistema.<br>
            Para Solução do problema, foi desenvolvido o <b>SIF - Sistema de Informações Fatec:</b><br>
            <img src="../static/img/login_sif.png" class="sif" alt="">
            <br>
            <br>
            <br>
            <br>
            Ficou curioso? Acesse o nosso portifólio e veja tudo em detalhes: <a href="https://github.com/marynhaSjc/API-Gfour---Fatec-SJC">Projeto API</a>
            
        </div>
        
         

        <!--Rodapé-->    
        <div class="content">
        </div>
        <footer id="myFooter">
            <div class="container">
                <p class="footer-copyright" >Desenvolvido por Raniel Santos. Todos os Direitos Reservados.</p>
            </div>
            <div class="footer-social" >
                <a href="https://web.facebook.com/raniel.santos.522/" class="social-icons"><i class="fa fa-facebook"></i></a>
                <a href="https://www.youtube.com/channel/UCKPh8JpW2g6Mq6huV076_dQ" class="social-icons"><i class="fa fa-youtube"></i></a>
                <a href="https://twitter.com/Raninho_93" class="social-icons"><i class="fa fa-twitter"></i></a>
            </div>
        </footer>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>